{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form method="POST" action="{% url 'generate_data' schema_name id %}">
    {% csrf_token %}
    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
      <h3 class="col-md-7" style="padding-top: 5px;">Data sets</h3>
      <div class="col-md-5" style="display: flex; justify-content: flex-end;">
        <h5 style="padding-top: 15px; margin-right: 15px;">Rows:</h5>
        <input type="text" class="col-md-2" id="inputRows" name="inputRows" style="margin-top: 10px; margin-right: 15px;">
        <button type="submit" class="btn btn-success col-md-4" style="margin-top: 10px;">Generate data</button>
      </div>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Created</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in sets_schema %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.data }}</td>
        <td>Status</td>
        <td><a href="{% url 'download' name=item.name_csv %}" style="text-decoration: none">Download</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}