<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit schema</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">FakeCSV</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Schemas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Hello, username!</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  <div style="display: flex; justify-content: space-between;">
    <h3 class="col-md-4">Data sets</h3>
    <div class="col-md-5" style="display: flex; justify-content: flex-end;">
        <h5 style="padding-top: 15px; margin-right: 15px;">Rows:</h5>
        <input type="text" class="col-md-2" id="inputRows" style="margin-top: 10px; margin-right: 15px;">
        <button type="submit" class="btn btn-success col-md-4" style="margin-top: 10px;">Generate data</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Created</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data_schemas %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.date }}</td>
        <td>Edit scheme  Delete</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</html>