{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <h3 class="col-md-4">Data schemas</h3>
    <button type="button" class="btn btn-success col-md-2"><a href="{% url 'new_schema' %}" style="text-decoration: none; color: white">New schema</a></button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Modified</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data_schemas %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td><a href="{% url 'new_schema' %}">{{ item.name }}</a></td>
        <td>{{ item.date }}</td>
        <td>Edit scheme  Delete</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}


